*,
*::before,
*::after {
  //   margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --clr-white: #f7f7f7;

  --clr-bg: var(--clr-white);

  background: var(--clr-bg);
  font-family: "Poppins", sans-serif;
}

// ==============================
// Typography
// ==============================
h3 {
  padding: 0.5em 1em;
  border: 2px solid lime;
  display: inline-block;
}

p {
  letter-spacing: 1px;
  line-height: 1.6;
}

a {
  color: blue;
}

.clr-good {
  color: limegreen;
}

.clr-bad {
  color: red;
}

img {
  width: 60%;
  object-fit: cover;
}

.img--two {
  width: 45%;
  object-fit: cover;
}

.question {
  margin-top: 4em;
}

// ==============================
// Layout
// ==============================
.header {
  min-height: 10vh;
}

.main {
  min-height: 90vh;
  //   border: 2px solid black;
  width: 80%;
  margin: 0 auto;
}

// ==============================
// Main
// ==============================
.page-title {
  text-align: center;
}
