*,
*::before,
*::after {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  --clr-white: #f7f7f7;
  --clr-bg: var(--clr-white);
  background: var(--clr-bg);
  font-family: "Poppins", sans-serif;
}

h3 {
  padding: 0.5em 1em;
  border: 2px solid lime;
  display: inline-block;
}

p {
  letter-spacing: 1px;
  line-height: 1.6;
}

a {
  color: blue;
}

.internalLink {
  text-decoration: none;
}

.internalLink:hover {
  background: yellow;
}

ul {
  padding: 2rem;
  color: steelblue;
}

.clr-good {
  color: limegreen;
}

.clr-bad {
  color: red;
}

img {
  width: 60%;
  -o-object-fit: cover;
  object-fit: cover;
}

.img--two {
  width: 45%;
  -o-object-fit: cover;
  object-fit: cover;
}

.question {
  margin-top: 4em;
}

.subtitle {
  margin-top: 4em;
}

.important-block {
  border: solid 2px red;
  padding: 0 0.5em;
}

.important-block--good {
  border: solid 2px limegreen;
  padding: 0 0.5em;
}

.header {
  min-height: 10vh;
}

.main {
  min-height: 90vh;
  width: 80%;
  margin: 0 auto;
}

.menu {
  --size: 5em;
  position: fixed;
  right: 5%;
  top: 5%;
  background: white;
  -webkit-box-shadow: 1px 1px 2px 0, -1px -1px 2px 0, 1px -1px 2px 0, -1px 1px 1em 0;
          box-shadow: 1px 1px 2px 0, -1px -1px 2px 0, 1px -1px 2px 0, -1px 1px 1em 0;
  height: var(--size);
  width: var(--size);
  border-radius: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu:hover {
  -webkit-animation: rotate 1.5s linear infinite;
          animation: rotate 1.5s linear infinite;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.header {
  --width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  width: var(--width);
  font-size: calc(var(--width) * 0.1);
  background: rgba(241, 111, 215, 0.7);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.header.opened {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

nav {
  height: 100%;
  width: 100%;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-list {
  padding: 0;
  margin: 0;
  padding: 1em;
  padding-top: 2em;
  width: 80%;
  color: white;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.nav-list li {
  margin-bottom: 1em;
  cursor: pointer;
}

.nav-list li a {
  color: white;
  text-decoration: none;
}

.nav-list li a:hover {
  color: black;
}

.page-title {
  text-align: center;
}

.tableOfContent {
  display: -ms-grid;
  display: grid;
  justify-items: left;
  padding-top: 5em;
  padding-left: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 60px;
}

.tableOfContent a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.tableOfContent a:hover {
  color: steelblue;
}
/*# sourceMappingURL=mix.css.map */